.center-items { align-items: center; }

.data {
    width: 70%;
    padding: 10px;
    font-size: 0.9em;
    word-wrap: break-word;
}

.btn-wrapper {
    display: flex;
    justify-content: space-around;
}

.delete {
    align-self: center;
    background-color: darkred;
}

.delete:hover { background-color: #bf0000; }

.cancel {
    align-self: center;
    font-weight: bold;
    background-color: transparent;
    color: #343434;
}

.cancel:hover {
    color: #ee4003;
    background-color: transparent;
}